<% provide(:title, 'Edit user') %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@user) do |f| %>

        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, :class => "form-control"%>

        <%= f.label :email %>
        <%= f.text_field :email, :class => "form-control"%>

        <%= f.label :password %>
        <%= f.password_field :password, :class => "form-control" %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, :class => "form-control" %>

        <%= f.submit "Save changes", class: "btn btn-lg btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>
