<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
      <% @user.errors.full_messages.each do |x| %>
        <li>* <%= x %></li>
      <% end %>
    </ul>
  </div>
<% end %>