<footer class="footer">
  <small>
    <a href="http://railstutorials.org/">Rails Tutorials</a>
    by Micheal Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorials.org/">News</a></li>
    </ul>
  </nav>
</footer>