<header class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Sample", "#", class: "navbar-brand", id: "logo"%>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path%></li>
          <li><%= link_to "Help", help_path%></li>
          <% if signed_in? %>
              <li><%= link_to "Users", users_path %></li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
                </ul>
              </li>
          <% else %>
            <li><%= link_to "Sign in", "#"%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>